.ropeproject/
*.dat
*.npy
*.png
.DS_Store
doubleslit/kivy
doubleslit/__pycache__
QuantumComputation/CustomGates/__pycache__/yyy.cpython-36.pyc
QuantumComputation/CustomGates/__pycache__/ww.cpython-36.pyc
QuantumComputation/CustomGates/__pycache__/tt.cpython-36.pyc
QuantumComputation/CustomGates/__pycache__/test4.cpython-36.pyc
QuantumComputation/CustomGates/__pycache__/test3.cpython-36.pyc
QuantumComputation/CustomGates/__pycache__/test2.cpython-36.pyc
QuantumComputation/CustomGates/__pycache__/test1.cpython-36.pyc
QuantumComputation/CustomGates/__pycache__/rr.cpython-36.pyc
QuantumComputation/CustomGates/__pycache__/hadfadf.cpython-36.pyc
QuantumComputation/CustomGates/__pycache__/ee.cpython-36.pyc
QuantumComputation/CustomGates/__pycache__/adg.cpython-36.pyc
QuantumComputation/CustomGates/__pycache__/__init__.cpython-36.pyc
QuantumComputation/__pycache__/test.cpython-36.pyc
QuantumComputation/__pycache__/QuantumComputation.cpython-36.pyc
QuantumComputation/__pycache__/QiskitConverter1.cpython-36.pyc
QuantumComputation/__pycache__/QiskitConverter.cpython-36.pyc
QuantumComputation/__pycache__/QiskitCircuit.cpython-36.pyc
QuantumComputation/__pycache__/GateConverter.cpython-36.pyc
QuantumComputation/.spyproject/config/workspace.ini
QuantumComputation/.spyproject/config/vcs.ini
QuantumComputation/.spyproject/config/encoding.ini
QuantumComputation/.spyproject/config/defaults/defaults-workspace-0.2.0.ini
QuantumComputation/.spyproject/config/defaults/defaults-vcs-0.2.0.ini
QuantumComputation/.spyproject/config/defaults/defaults-encoding-0.2.0.ini
QuantumComputation/.spyproject/config/defaults/defaults-codestyle-0.2.0.ini
QuantumComputation/.spyproject/config/codestyle.ini
QuantumComputation/.spyproject/config/backups/workspace.ini.bak
QuantumComputation/.spyproject/config/backups/vcs.ini.bak
QuantumComputation/.spyproject/config/backups/encoding.ini.bak
QuantumComputation/.spyproject/config/backups/codestyle.ini.bak
QuantumComputation/.ipynb_checkpoints/README.md-checkpoint.ipynb
QuantumComputation/CustomGates/Nuevo documento de texto - copia (10).txt
QuantumComputation/CustomGates/Nuevo documento de texto - copia (11).txt
QuantumComputation/CustomGates/Nuevo documento de texto - copia (12).txt
QuantumComputation/CustomGates/Nuevo documento de texto - copia (13).txt
QuantumComputation/CustomGates/Nuevo documento de texto - copia (14).txt
QuantumComputation/CustomGates/Nuevo documento de texto - copia (15).txt
QuantumComputation/CustomGates/Nuevo documento de texto - copia (16).txt
QuantumComputation/CustomGates/Nuevo documento de texto - copia (17).txt
QuantumComputation/CustomGates/Nuevo documento de texto - copia (18).txt
QuantumComputation/CustomGates/Nuevo documento de texto - copia (19).txt
QuantumComputation/CustomGates/Nuevo documento de texto - copia (2).txt
QuantumComputation/CustomGates/Nuevo documento de texto - copia (20).txt
QuantumComputation/CustomGates/Nuevo documento de texto - copia (21).txt
QuantumComputation/CustomGates/Nuevo documento de texto - copia (3).txt
QuantumComputation/CustomGates/Nuevo documento de texto - copia (4).txt
QuantumComputation/CustomGates/Nuevo documento de texto - copia (5).txt
QuantumComputation/CustomGates/Nuevo documento de texto - copia (6).txt
QuantumComputation/CustomGates/Nuevo documento de texto - copia (7).txt
QuantumComputation/CustomGates/Nuevo documento de texto - copia (8).txt
QuantumComputation/CustomGates/Nuevo documento de texto - copia (9).txt
QuantumComputation/CustomGates/Nuevo documento de texto - copia.txt
QuantumComputation/CustomGates/Nuevo documento de texto.txt
QuantumComputation/CustomGates/test3.py
QuantumComputation/ttt.py
QuantumComputation/ttt.kv
QuantumComputation/test.py
QuantumComputation/QuantumComputation1.py
QuantumComputation/QiskitCircuit.py
